<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ./head.ejs%>  
</head>
<body>
    <div class="menu">
        <a class="link" href="/addfood"><span class="material-icons">add_box</span></a>
        <a class="link" href="/listfood"><span class="material-icons">ballot</span></a>
        <a class="link" href="/calendar"><span class="material-icons">calendar_month</span></a>
        <a class="link" href="/mypage"><span class="material-icons">account_box</span></a>
    </div>
    <button class="search">로딩</button>
    <div class="loading">
        <!-- <div class="spinner"></div> -->
        <div class="wrap">
            <div class="state"></div>
            <div class="state"></div>
            <div class="state"></div>
            <div class="state"></div>
            <div class="state"></div>
        </div>
        <p class="loading-text">페이지를 불러오는 중입니다.</p>
    </div>
    <div class="modal-bg"></div>
    <script>
        $(document).ready(function () {
            $('.search').click(function () {
                $('.loading').toggleClass('show');
                $('.modal-bg').toggleClass('show');
            })
        });
    </script>
</body>
</html>