<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ./head.ejs%>  
</head>
<body class="mypage">
    <div class="pageHeader">
        <div class="navbar">
            <a class="funcBtn" href="/"><span class="material-icons">arrow_back</span></a>
            <span class="title">로그인</span>
    </div>
    <div class="pageBody">
        <form class="signform" action="signin" method="post">
            <p>아이디</p>
            <input type="text" placeholder="아아디를 입력하세요.">
            <p>비밀번호</p>
            <input type="text" placeholder="비밀번호를 입력하세요.">
        </form>
    </div>
</body>
</html>